<div class="flex justify-between items-center">
  <h2 class="text-xl font-bold">Labels:</h2>
  @if(selectedLabelsSize > 0){
  <span
    (click)="onDeleteLabels()"
    class="text-blue-400 font-semibold hover:underline cursor-pointer"
    >Clear Filters</span
  >
  }
</div>
<div class="flex flex-wrap gap-2 items-center mt-6">
  @for (label of labels(); track label.id) {
  <span
    [ngStyle]="{
      border: '1px solid #' + label.color,
      color: '#' + label.color
    }"
    (click)="onToggleLabel(label.name)"
    [class.active]="isSelected(label.name)"
    class="px-2 py-0.5 text-sm font-semibold rounded-full cursor-pointer"
    >{{ label.name }}</span
  >
  }
</div>
