<h1 class="text-4xl font-bold">GitHub Issues</h1>

<section class="my-6">
  <div class="flex gap-2">
    <button
      [class.active]="selectedState === 'all'"
      (click)="onChangeState('all')"
      class="text-gray-300 border-gray-800 font-semibold cursor-pointer border px-4 py-2 rounded-md hover:bg-gray-900"
    >
      All
    </button>
    <button
      [class.active]="selectedState === 'open'"
      (click)="onChangeState('open')"
      class="text-gray-300 border-gray-800 font-semibold cursor-pointer border px-4 py-2 rounded-md hover:bg-gray-900"
    >
      Open
    </button>
    <button
      [class.active]="selectedState === 'closed'"
      (click)="onChangeState('closed')"
      class="text-gray-300 border-gray-800 font-semibold cursor-pointer border px-4 py-2 rounded-md hover:bg-gray-900"
    >
      Closed
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 mt-10 md:space-x-4">
    <div class="space-y-4">
      <!-- Listado de Issues -->
      @if(issuesQuery.isLoading()){
      <div class="flex justify-center">
        <p class="font-semibold">Loading...</p>
      </div>
      }@else if (issuesQuery.isSuccess()) {
      <!--  -->
      @for (issue of issuesQuery.data(); track issue.id) {
      <issue-item [issue]="issue"></issue-item>
      }@empty {
      <div class="flex justify-center">
        <p class="font-semibold">Not Issues Found</p>
      </div>
      }
      <!--  -->
      }
    </div>
    <div class="bg-gray-900 p-4 rounded-md border border-gray-800 mt-4 md:mt-0">
      @if (labelsQuery.isSuccess()) {
      <issues-labels [labels]="labelsQuery.data()"></issues-labels>
      }
    </div>
  </div>
</section>
