@if(issueQuery.data()){

<div class="flex items-center gap-6">
  <a
    routerLink="/"
    class="text-gray-400 px-2 py-1 border border-gray-950 hover:border-gray-800 hover:bg-gray-900 rounded-md cursor-pointer transition-all duration-300 ease-in-out"
  >
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <h1 class="text-3xl font-bold">
    <span>{{ issueQuery.data()?.title }} </span>
    <span class="text-gray-400 font-normal">#{{ issueNumber() }}</span>
  </h1>
</div>

<section class="my-6">
  @if (issueQuery.data() && issueCommentsQuery.data()) {
  <issue-detail-item
    [issueComments]="issueCommentsQuery.data()!"
    [issue]="issueQuery.data()!"
  ></issue-detail-item>
  }
</section>
}
